@font-face {
  font-family: "ipwa";
  src:  url("../fonts/ipwa/ipwa.eot?5gk46f");
  src:  url("../fonts/ipwa/ipwa.eot?5gk46f#iefix") format("embedded-opentype"),
    url("../fonts/ipwa/ipwa.ttf?5gk46f") format("truetype"),
    url("../fonts/ipwa/ipwa.woff?5gk46f") format("woff"),
    url("../fonts/ipwa/ipwa.svg?5gk46f#ipwa") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ipwa" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-ios-action:before {
  content: "\e900";
}
.i-task-done:before {
  content: "\e901";
}
.i-task-edit:before {
  content: "\e902";
}
.i-tasks:before {
  content: "\e903";
}
.i-task-search:before {
  content: "\e904";
}
.i-task-detail:before {
  content: "\e905";
}
.i-tasks-closing:before {
  content: "\e906";
}
.i-tasks-done:before {
  content: "\e907";
}
.i-clean-filter:before {
  content: "\e908";
}
.i-close:before {
  content: "\e909";
}
.i-save-1:before {
  content: "\e90a";
  color: #4c4c4c;
}
.i-uncheck:before {
  content: "\e90b";
}
.i-check:before {
  content: "\e90c";
}
.i-check-square-o:before {
  content: "\f046";
}
.i-chevron-down:before {
  content: "\f078";
}
.i-square-o:before {
  content: "\f096";
}
.i-tasks-fa:before {
  content: "\f0ae";
}
.i-save:before {
  content: "\f0c7";
}
.i-bars:before {
  content: "\f0c9";
}
.i-list-ol:before {
  content: "\f0cb";
}
.i-plus:before {
  content: "\f0fe";
}
.i-hand-pointer-o:before {
  content: "\f25a";
}
