<section class="login">
  <div class="container">
    <form method="POST" #formLogin="ngForm" (ngSubmit)="onSubmit(formLogin)">
      <div class="form-group hidden">
        <label class="form-label" for="username">User ID</label>
        <input class="input-form" type="text" name="username" id="username" ngModel maxlength="20">
      </div>
      <div class="form-group hidden">
        <label class="form-label" for="password">Password</label>
        <input class="input-form" type="password" name="password" id="password" ngModel maxlength="20">
      </div>
      <div class="text-centered">
        <button class="btn" [disabled]="!formLogin.valid || !canAction" type="submit" [className]="formLogin.valid ? 'btn btn-login' : 'btn btn-disabled'">Login</button>
        <a class="forgot-link hidden" [routerLink]="['/forgot']">
          <p>Forgot your User ID/Password?</p>
        </a>
      </div>
    </form>
  </div>
</section>