<section class="login">
  <div class="container">
    <form method="POST" #formLogin="ngForm" (ngSubmit)="onSubmit(formLogin)">
      <div class="form-group">
        <label class="form-label" for="username">User ID</label>
        <input class="input-form" type="text" name="username" id="username" ngModel maxlength="20" required>
      </div>
      <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input class="input-form" type="password" name="password" id="password" ngModel maxlength="20" required>
      </div>
      <p class="text-danger center-text text-prewarp pb-5" *ngIf="errorMsgs && errorMsgs.errors">{{errorMsgs.errors[0]}}</p>
      <div class="center-text">
        <button [disabled]="!formLogin.valid || !canAction" type="submit" [className]="formLogin.valid ? 'btn btn-login' : 'btn btn-disabled'">Login</button>
        <a class="forgot-link" [routerLink]="['/forgot']">
          <p>Forgot your User ID/Password?</p>
        </a>
      </div>
    </form>
  </div>
</section>