<section class="todos-main">
  <ul class="todo-list" *ngFor="let todo of allTodos">
    <li class="todo-item">
      <div class="R2I1d">
        <input  type="checkbox" 
                class="item-check" 
                [checked]="todo.isCompleted"
                name="{{ todo.id }}" 
                id="{{ todo.id }}" 
                (click)="markAsCompleted(todo)">
        <label>{{todo.name}}</label>
        <button class="_6oXTL" (click)="deleteTodo(todo)"></button></div>
    </li>
  </ul>
</section> 
