<app-header></app-header>
<main class="page-main">
  <section class="todos">
    <header class="todos-header">
      <input class="_1LCq9" type="text" placeholder="What needs to be done?" value="">
    </header>
    <section class="todos-main">
      <ul class="todo-list">
        <li class="todo-item">
          <div class="R2I1d"><input class="item-check" type="checkbox"><label>What is PWA?</label><button class="_6oXTL"></button></div>
        </li>
      </ul>
    </section>
    <footer class="todos-footer">
      <span class="_2aiYj"><strong>1</strong> item left</span>
      <ul class="_2Rdg5">
        <li><a class="KA4tP" style="cursor: pointer;">All</a></li>
        <li><a class="" style="cursor: pointer;">Active</a></li>
        <li><a class="" style="cursor: pointer;">Completed</a></li>
      </ul>
      <button class="_2VhED">Clear completed</button>
    </footer>
  </section>
</main>
<app-footer></app-footer>
