.cdk-overlay-container {
  .mat-dialog-container {
    @include pxRem('border-radius', 13);
    padding: 0;
    max-width: 86vw;
    overflow: visible;
    position: relative;
  }
}
.dialog {
  @include pxRem('padding', 20 20 5 20);
  @include pxRem('border-radius', 5);
  background-color: white;
  color: map-get($color, text);
  h1, h2, h3, h4, h5, h6, p {
    color: inherit;
    white-space: pre-wrap;
  }
  .title {
    @include pxRem('font-size', 18);
    @include pxRem('margin-bottom', 11);
    text-align: center;
  }
  .des {
    @include pxRem('line-height', 25);
    margin-bottom: 0;
  }
  .content-dlg {
    @include pxRem('padding-bottom', 12);
    @include pxRem('min-width', 200);
    .btn {
      @include pxRem('margin', 30 0 -6);
    }
  }
  .action-dlg {
    background: map-get($color, white);
    @include pxRem('font-size', 16);
    @include pxRem('margin', 0 -20 -20);
    font-weight: 700;
    text-align: center;
    border-top: 1px solid map-get($color, cancel);
    button,
    a {
      &:only-of-type {
        display: block;
        width: 100%;
      }
      &:focus {
        outline: 0;
      }
      &:active {
        background-color: map-get($color, primary);
        color: white;
      }
      &:first-child {
        @include pxRem('border-radius', 0 0 0 5);
      }
      &:last-child {
        @include pxRem('border-radius', 0 0 5 0);
      }
      @include pxRem('padding', 10 0);
      background-color: white;
    }
  }
}
.dialog-two-btn {
  .action-dlg {
    .btn-no-style {
      width: 50%;
      border: 0;
      border-right: 1px solid map-get($color, cancel);
      &:last-child {
        border-right: 0;
      }
    }
  }
}
