/* app alert */
.app-alert {
  height: auto;
  background-color: map-get($color, white);
  min-width: 70%;
  max-width: 70%;
  position: fixed;
  right: 15%;
  z-index: 9999;
  top: 10%;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  @include pxRem('border-radius', 3);
  &:after {
    clear: left;
  }
  .alert {
    margin-bottom: 0;
    &-success{
      border: solid 1px map-get($color, primary);
    }
    &-error{
      border: solid 1px map-get($color, orange);
    }
  }
  .close {
    &:hover {
      background-color: map-get($color, primary);
    }
    padding-right: 2%; 
  }
}
