.filter {
  .icon-back:before {
    vertical-align: middle;
    font-size: 20px;
  }
  .content {
    @include pxRem(padding-top, 70);
  }
}
.filter-newsfeed {
  @include transition(transform 0.3s ease-in-out);
  @include pxRem(top, 125);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}