.login {
  .container {
    @include pxRem('padding', 90 15);
    .home-title {
      color: map-get($color, primary);
    }
    .forgot-link {
      p {
        @include pxRem('padding-top', 20);
      }
    }
    .input-form {
      @include transition(all 0.4s ease);
      background: map-get($color, white);
      @include pxRem('padding', 12 20);
      @include pxRem('margin-bottom', 25);
      border-bottom: 1px solid map-get($color, outline);
    }
    .btn {
      width: 100%;
    }
    .btn-login {
      color: map-get($color, white);
      border-color: map-get($color, primary);
      background-color: map-get($color, primary);
    }
  }
}
