.notification {
  &-container {
    overflow-y: scroll;
    @include pxRem('padding', 8 20);
    height: 80vh;
    .noti-list {
      @include pxRem('padding', 12);
      &:not(:last-child) {
        border-bottom: 1px solid #e0e0dd;
      }
      .content {
        @include pxRem('font-size', 14);
        @include pxRem('line-height', 20);
        color: map-get($color, text);
        white-space: pre-wrap;
        a {
          color: map-get($color, orange);
          text-decoration: none;
          cursor: pointer;
        }
      }
      .time {
        @include pxRem('font-size', 10);
        color: map-get($color, cancel);
      }
    }
  }
}