button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  @include appearance(none);
  @include font-smoothing(antialiased);
}
button,
input,
input[type='checkbox'] {
  outline: none;
  color: inherit;
  font-family: inherit;
}
@include placeholder() {
  color: map-get($color, text-muted)
};

._1LCq9,
._2TStV {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: convertPxToRem(24px);
  line-height: 1.4em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid map-get($color, border);
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  @include font-smoothing(antialiased);
}
$todoPrimary: map-get($color, primary);
$todoTextLeftAlign: convertPxToRem(60px);
.todos {
  width: 550px;
  left: 50%;
  @include transformX(-50%);
  background: map-get($color, white);
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  .todos-header {
    ._1LCq9 {
      padding: 16px 16px 16px 60px;
      border: none;
      font-style: italic;
      box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    }
  }
  .todos-main {
    position: relative;
    z-index: 2;
    border-top: 1px solid map-get($color, border);
  }
  .todos-footer {
    padding: 10px 15px;
    height: 40px;
    border-top: 1px solid map-get($color, border);
    display: flex;
    align-items: center;
    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 50px;
      overflow: hidden;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
                  0 8px 0 -3px #f6f6f6,
                  0 9px 1px -3px rgba(0, 0, 0, 0.2),
                  0 16px 0 -6px #f6f6f6,
                  0 17px 2px -6px rgba(0, 0, 0, 0.2);
    }
    .todos-footer-col {
      position: relative;
      z-index: 1;
    }
    .counter {
      order: 3;
      flex: 1 0;
      text-align: right;
    }
    .guardian {
      order: 1;
      flex: 1 0;
    }
    .filter {
      order: 2;
      flex: 3 0;
      text-align: center;
      li {
        display: inline;
        ._2VhED {
          border: 1px solid transparent;
          border-radius: 3px;
          padding: 3px 8px;
          &:hover {
            border-color: map-get($color, primary);
          }
        }
      }
    }
  }
  .todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    .todo-item {
      position: relative;
      font-size: convertPxToRem(24px);
      border-bottom: 1px solid map-get($color, border);
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        ._6oXTL {
          display: block;
        }
      }
      label {
        white-space: pre-line;
        word-break: break-all;
        padding: 15px 60px 15px 15px;
        margin-left: 45px;
        display: block;
        line-height: 1.2;
        @include transition(color 0.4s);
      }
      ._6oXTL {
        display: none;
        position: absolute;
        top: 0;
        right: 15px;
        bottom: 0;
        height: 100%;
        font-size: 30px;
        color: $todoPrimary;
        transition: color 0.2s ease-out;
        &:after {
          content: "\D7";
        }
      }
    }
  }
  .item-check {
    text-align: center;
    width: convertPxToRem(24px);
    height: convertPxToRem(24px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    margin: auto 0;
    border: 1px solid map-get($color, border);
    &:after {
      content: ""
    }
  }
}
@include respond-below("large") {
  .todos {
    width: 100%;
    margin: 0;
  }
}
