<div class="popover wide b-c" *ngIf="isVisible">
  <div class="popover-container animated fadeInUp delay-1s ">
    <span class="popover-close">x</span>
    <div class="f-row f-row-vm">
      <div class="f-col-3">
        <img src="assets/logo/logo-1x.png" width="100%" alt="PWA">
      </div>
      <div class="f-col-9">  
        <span class="text-middle">
          Install this webapp on your iPhone: tap <i class="i-ios-action"></i> then "<i class="i-ios-add"></i>Add to Home Screen"
        </span>
      </div>
    </div>
  </div>
</div>
