<div class="popover wide b-c" *ngIf="isVisible">
  <div class="popover-container animated fadeInUp delay-1s ">
    <span class="popover-close">
      <i class="i-close" (click)="close()"></i>
    </span>
    <div class="f-row f-row-vm">
      <div class="f-col-2">
        <img src="assets/logo/logo-2x.png" width="100%" alt="PWA">
      </div>
      <div class="f-col-10">  
        <div class="pr-2">
          Install this webapp on your iPhone: tap <i class="i-ios-action"></i> then " <i class="i-plus"></i> Add to Home Screen"
        </div>
      </div>
    </div>
  </div>
</div>
