.left-text {
  text-align: left;
}
.right-text {
  text-align: right;
}
.center-text {
  text-align: center
}
.no-wrap {
  white-space: nowrap;
}
.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
}
.mat-ink-bar {
  display: none;
}
.branch {
  line-height: 1.4;
}
.prevent-scroll {
  overflow-y: hidden !important;
}
.prevent-body {
  position: fixed;
  left: 0;
  right: 0;
}
.fa-spin {
  color: map-get($color, primary);
}
