<section class="todos">
  <app-todos-header (addTodo)="onChange('add', $event)"></app-todos-header>
  <section class="todos-main">
    <ul class="todo-list">
      <app-todo-item *ngFor="let todo of todos | todoFilter:action;"
                    [todo]="todo"
                    (deleteMe)="onChange('delete', $event)"
                    (toggleMe)="onChange()">
      </app-todo-item>
    </ul>
  </section> 
  <app-todos-footer (finish)="onChange('finish')" (filter)="action = $event" [counter]="counter"></app-todos-footer> 
</section>
