<footer class="todos-footer">
  <ul class="todos-footer-toolbar">
    <li class="toolbar-item counter">	
      <strong class="n-counter">{{ counter.active }}</strong> item(s) left	
    </li>	
    <li class="toolbar-item">	
      <button class="toolbar-btn" [ngClass]="{active: action === 'all'}" (click)="onFilter('all')">	
        <i class="i-clean-filter"></i>	
        All Tasks	
      </button>	
    </li>	
    <li class="toolbar-item">	
      <button class="toolbar-btn" [ngClass]="{active: action === 'active'}" (click)="onFilter('active')">	
        <i class="i-tasks"></i>	
        Active	
      </button>	
    </li>	
    <li class="toolbar-item">	
      <button class="toolbar-btn" [ngClass]="{active: action === 'completed'}" (click)="onFilter('completed')">	
        <i class="i-tasks-done"></i>	
        Completed	
      </button>	
    </li>	
    <li class="toolbar-item cleaner">	
      <button class="guardian" [disabled]="!counter.completed" (click)="onFinish()">
          <i class="i-tasks-closing"></i>
          Clear completed
      </button>
    </li>	
  </ul>
</footer>
