<footer class="todos-footer">
  <span class="todos-footer-col actor">
    <button id="clearCompleted" class="guardian" (click)="handleFilter($event)">Clear completed</button>
  </span>
  <ul class="todos-footer-col filter">
    <li><button id="all" class="_2VhED" (click)="handleFilter($event)">All</button></li>
    <li><button id="active" class="_2VhED" (click)="handleFilter($event)">Active</button></li>
    <li><button id="completed" class="_2VhED" (click)="handleFilter($event)">Completed</button></li>
  </ul>
  <span class="todos-footer-col counter"><strong>{{ itemLeft }}</strong> items left</span>
</footer>
